@import 'login.css';


.ul-menu {
    display: flex;
    flex-direction: row;
    decoration: none;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ul-menu li {
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ul-menu li:nth-last-child(4) {
  margin-left: 3%;
}

.ul-menu li:nth-last-child(3) {
  margin-left: 3%;
}

.ul-menu a:hover {
  transition: 0.3s;
  color: #006aff;
}


.ul-menu label, .ul-menu span {
    color: #fff;
}

.ul-menu a {
    height: 100%;
    color: #fff;
}

.ul-menu a:hover {
    transition: 0.3s;
    color: #cecece;
    text-decoration: none;
}

.row-form-group {
    display: flex;
    flex-direction: row;
}

.k-grid {
    overflow: auto;
}

#static-frame {
    display: flex;
    align-items: center;
}

#static-frame span {
    font-weight: bold;
}

#frame-selected-teams {
    width: 50%;
}

#grid-select-teams {
    width: 50%;
}

.form-equipes {
    display: flex;
    flex-direction: row;
}

.glyphicon-alert, .fa-exclamation {
    color: #ff7474;
}

@media (max-width: 700px)
{
  .ul-menu {
        flex-direction: column;
    }
    .ul-menu li {
        width: 100%;
        margin: 3%;
    }

    #frame-selected-teams {
        width: 100%;
    }

    #grid-select-teams {
        width: 100%;
    }

    .form-equipes {
        display: flex;
        flex-direction: column;
    }
}



